*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
}

/* general */

.container,
.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9{
    max-width: 1120px; ;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.btn{
    all:unset; 
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;

}


/* navbar */

.nav-top{
    background-color: #0084FD;
    height: 4.7rem;
}

.nav-top ul{
    display: none;
}

.nav-top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-top .hamburger{
    color: white;
    font-size: 1.5rem;
}

@media screen and (min-width:945px){
    .nav-top .hamburger {
        display: none;
    }

    .nav-top ul{
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    
    .nav-top li{
        display: flex;
        align-items: center;
        height: 100%;
        
    }
    
    .nav-top .nav-link{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
    }
    
    /* .nav-top .nav-link:visited{
        color: white;
    } */
    
    .nav-top .nav-link:hover {
        background-color: aquamarine;
    }
    
    .nav-top .btn{
        background-color: white;
        padding: .5rem;
    }
    
    .nav-top .btn:hover{
        background-color: lightgrey;
    }

}

/* main */

/* section1 */

.container-sec1,
.container-sec2,
.container-sec3{
    max-width: 100vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #B5DDFF;
}

.container-sec1 h4{
    color: #0185FD;
    font-size: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.container-sec2 h4,
.container-sec3 h4{
    text-align: center;
    color: #0185FD;
    font-size: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.container-sec1 p{
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;
}

.btn-sec1{
    color: white;
    background-color: #0084FD;
    padding: .6rem 4rem;
    margin: .5rem 1.5rem;
    margin-bottom: 2rem;
    font-size: 23px;
}


.container-sec1 img{
    width: 290px;
    display: block;
    margin: 0 .7rem; 
}

.icon-sec1{
    display: flex;
    font-size: 100px;
    color: #0185FD;
    padding-top: 2rem;
    justify-content: center;
}

.p-sec1{
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
}

@media (min-width:600px) and (max-width:944px){
    
    .container1{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .container-sec1{
        min-width: 0;
        flex: 0 0 66%;
        margin-bottom: 0;
    }

    .container-sec2{
        min-width: 0;
        flex: 1 0 30%;
        margin-bottom: 0;
    }
    
    .container2{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .container-sec3{
       min-width: 0;
       flex: 1 0 25%;
       margin-top: 1em;
    }
    
}

@media screen and  (min-width:945px){
     
    .container1{
        display: flex;
        gap: 1em;
    }

    .container-sec1{
        min-width: 0;
        flex: 0 0 66%;
        margin-bottom: 0;
        display: flex;
    }

    .container-sec2{
        min-width: 0;
        flex: 1 0 30%;
        margin-bottom: 0;
    }
    
    .container2{
        display: flex;
        gap: 1em;
    }

    .container-sec3{
       min-width: 0;
       flex: 1 0 25%;
       margin-top: 1em;
    }

    .block-img{
       align-self: flex-end; 
    }
}

/* section2 */

.ctn-color{
    background-color: #9792E4;
    padding-bottom: 0.1rem;
    padding-top: 4rem;
}

.card-sec2 img{
    max-width: 100%;
}

.card-sec2 h4{
    color: white;
    font-size: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-sec2 p{
    font-size: 0.45em;
    line-height: 12px;
    color: white;
}

.card2-sec2{
    background-color: white;
    border-radius: 20px;
    margin: 1rem 0;
}

.card2-sec2 img{
    max-width:100%
}

.card2-sec2 h5{
    text-align: center;
    font-size: .8em;
    padding-top: 0.3em;
}

.card2-sec2 p{
    font-size: 0.55em;
    text-align: center;
    padding: 0.5em 1.5em;
}

.arrow-down{
   text-align: center;
}

.fa-arrow-down{
    margin: 1em 1em;
    padding: 0.5em .6em;
    background-color: #9792E4;
    border-radius: 100%;
}

@media (min-width:600px) and (max-width:944px){
    .card-sec2 p{
        font-size: .78em;
        line-height: 20px;
    }

    .card2-sec2 p{
        font-size: 0.85em;
        text-align: center;
        padding: 0.5em 1.5em;
        line-height: 20px;
    }

    .card-sec2 h4{
        color: white;
        font-size: 50px;
        
    }

    .card2-sec2 h5{
        text-align: center;
        font-size: 1em;
        padding: 0.3em 0;
    }

    .card-sec2{
        display: flex;
        flex-direction: column;
    }

    .card2-sec2{
        display: flex;
        flex-direction: column;
    }

    .card-sec2 img{
        max-width: 100%;
    }

    .card2-sec2 img{
        max-width:100%;
        padding: 0 auto;
    }
}

@media screen and  (min-width:945px){

        .container3{
            display: flex;
            gap: 1em;
            padding: 1em 13em;
        }

        .card-sec2{
            flex: 1 0 35%;
            padding: 1em 1em;
            display: flex;
            flex-direction: column;
        }

        .card2-sec2{
            flex: 1 0 25%;
            align-self: flex-end;
        }

        .card-sec2 img{
            max-width: 100%;
            margin-bottom: 5em;
        }

        .card-sec2 p{
            font-size: .9em;
            line-height: 20px;
        }
    
        .card2-sec2 p{
            font-size: 0.85em;
            text-align: center;
            padding: 0.5em 1.5em;
            line-height: 20px;
        }


}

/* section3 */

.container4 h5{
    text-align: center;
    font-size: 1em;
    padding-top: 3em;
}

.container4 h2{
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    color: #9792E4;
}

.container4 p{
    text-align: center;
    font-size: 1.4em;
    padding: 1em 0;
    line-height: 30px;
}

.container5{
    display: block;
    text-align: center;
    background-color: #9792E4;
    margin: 1.5em 0;
    padding: 1em 0;
    border-radius: 20px;
}

.container5 img{
    object-fit: cover;
    border-radius: 50%;
    height: 12.5em;
    width: 12.5em;
    align-self:center;
}

.text-sec3{
    text-align: center;
    padding: 1em 0;
    color: white;
}

.text-sec3 p{
    font-size: 1.4em;
    line-height: 30px;
}

.text-sec3 h4{
    padding-top: 1em ;
}

.quotation-marks{
    font-size: 2em;
    vertical-align:middle;
}

@media (min-width:600px) and (max-width:944px){
   
    .container5{
        display: flex; 
        padding: 1.5em 0.5em;
    }

    .sec3-img{
       flex: 0 1 0;
    }

    .text-sec3{
      flex: 1 1 0; 
      margin: 1em 1em; 
    }

    .container5 p{
      font-size: 11.8px;
      text-align: left;
    }

    .container5 h4{
      text-align: left;  
    }
}

@media screen and  (min-width:945px){
    .container5{
        margin: 1.5em 0;
        display: flex; 
        padding: 1.5em 0.5em;
    }

    .sec3-img{
       flex: 0 1 0;
    }

    .text-sec3{
      flex: 1 1 0; 
      margin: 1em 1em; 
    }

    .container5 p{
      font-size: 11.8px;
      text-align: left;
      padding: 1em 1em;
    }

    .container5 h4{
    text-align: left; 
    padding-left: 1em; 
    }
}

/* section4 */

.container6{
    background-color: #9792E4;
}

.ctn-color h1{
    color: white;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    font-size: 2em;
}

.ctn-sec4{
    background-color: white;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    margin-bottom: 1.5em;
}

.ctn-sec4 h2{
    color: #9792E4;
    font-size: 3em;
    padding-top: .5em; 
    padding-bottom: .5em; 
}

.ctn-sec4 h3{
    color: #9792E4;
    font-size: 1.5em;
    padding-bottom: 1em; 
}

.ctn-sec4 p{
    line-height: 25px;
    padding-bottom: 1em;
}
 
.btn-sec4{
    padding: .8em 4em;
    background-color: #9792E4;
    color: white;
    margin-bottom: 1em;
}

@media (min-width:600px) and (max-width:944px){
    .container6{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .ctn-sec4{
        flex: 1 0 40%;
    }
}

@media screen and  (min-width:945px){
    .container6{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .ctn-sec4{
        flex: 1 0 25%;
    }
}

/* section5 */

.first-sec5 h1{
    font-size: 2em;
    margin: 1em 0;
    color: #9792E4;
}

.first-sec5 p{
    padding-bottom: 2.5em;
    line-height: 30px;
    font-size: 1.2em;
}

.sec5-img{
    position: relative;
}

.second-sec5 img{
    object-fit: cover;
    border-radius: 50%;
    height: 12.5em;
    width: 12.5em;
    align-self:center;
}

.quotation-marks2{
    position: absolute;
    top: -.2em;
    left: 1.1em;
    font-size: 8em;
    color: #9792E4;
}

.second-sec5 h4{
    color: #9792E4;
    font-size: 1.8em;
    margin: .5em 0;
}

.btn-sec5{
    padding: .4em 1em;
    background-color: #9792E4;
    color: white;
    margin-bottom: 4em;
}

.fa-linkedin-in{
    padding: .05em .1em;
    background-color: white;
    font-size: .8em ;
    color: #9792E4;
    margin-right: .3em;
}

@media (min-width:600px) and (max-width:944px){
    .container7{
        display: flex;
        gap: 1em;
        margin-top: 4em;
    }

    .first-sec5{
        flex: 1 0 45%;
    }

    .second-sec5{
        flex: 0 1 10%;
    }
    
    .first-sec5 h1{
        font-size: 3em;
        margin: .8em 0;
        margin-top: 0;
    }

    .first-sec5 p{
        font-size: 1em;
    }

    .second-sec5 h4{
        font-size: 1.5em;
    }
}

@media screen and  (min-width:945px){
    .container7{
        display: flex;
        gap: 3em;
        margin-top: 4em;
    }

    .first-sec5{
        flex: 1 0 45%;
    }

    .second-sec5{
        flex: 0 1 10%;
    }
    
    .first-sec5 h1{
        font-size: 3em;
        margin-bottom: .8em;
        margin-top: 0;
    }

    .first-sec5 p{
        font-size: 1.2em;
    }

    .second-sec5 h4{
        font-size: 1.5em;
    }
}

/* section6 */

.container8{
    text-align: center;
}

.container8 h5{
    color: lightgray;
    font-size: 1em;
    margin-bottom: 1em;
}

.container8 h2{
    color: white;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.container8 h1{
    color: #FDC15F;
    font-size: 3.5em;
    margin-bottom: .5em;
}

.container8 p{
    color: white;
    line-height: 25px;
    margin-bottom: 1em;
}

.btn-sec6{
    font-size: 1.3em;
    padding: .7em 2.8em;
    color: #9792E4;
    background-color: white;
    margin-bottom: 1em;
}

.sec6-text{
    color: white;
    font-size: .9em;
    margin-bottom: 4em;
}

.privacy-color{
    color: white;
}

@media screen and  (min-width:945px){
    .container8 p{
        padding: 0 19em;
    }
}

/* footer */

.footer-color{
    background-color: black;
}

.container9 p{
    color: white;
    text-align: center;
    padding: 3em 0;
}

.container9 div{
    color: white;
    text-align: center;
    padding-bottom: 2em;
}

.container9 a{
    color: #9792E4;
}

@media (min-width:600px) and (max-width:944px){
    .container9{
        padding: 0 6em;
    }

    
}

@media screen and  (min-width:945px){
    .container9{
        padding: 0 16em;
    }

    .container9 div{
        padding: 2em 2em;
    }
}