*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
}

/* general */

.container,
.container1,
.container2{
    max-width: 1120px; ;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.btn{
    all:unset; 
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;

}


/* navbar */

.nav-top{
    background-color: #0084FD;
    height: 4.7rem;
}

.nav-top ul{
    display: none;
}

.nav-top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-top .hamburger{
    color: white;
    font-size: 1.5rem;
}

@media screen and (min-width:945px){
    .nav-top .hamburger {
        display: none;
    }

    .nav-top ul{
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    
    .nav-top li{
        display: flex;
        align-items: center;
        height: 100%;
        
    }
    
    .nav-top .nav-link{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
    }
    
    /* .nav-top .nav-link:visited{
        color: white;
    } */
    
    .nav-top .nav-link:hover {
        background-color: aquamarine;
    }
    
    .nav-top .btn{
        background-color: white;
        padding: .5rem;
    }
    
    .nav-top .btn:hover{
        background-color: lightgrey;
    }

}

/* main */

/* section1 */

.container-sec1,
.container-sec2,
.container-sec3{
    max-width: 100vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #B5DDFF;
}

.container-sec1 h4{
    color: #0185FD;
    font-size: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.container-sec2 h4,
.container-sec3 h4{
    text-align: center;
    color: #0185FD;
    font-size: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.container-sec1 p{
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;
}

.btn-sec1{
    color: white;
    background-color: #0084FD;
    padding: .6rem 4rem;
    margin: .5rem 1.5rem;
    margin-bottom: 2rem;
    font-size: 23px;
}


.container-sec1 img{
    width: 290px;
    display: block;
    margin: 0 .7rem; 
}

.icon-sec1{
    display: flex;
    font-size: 100px;
    color: #0185FD;
    padding-top: 2rem;
    justify-content: center;
}

.p-sec1{
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
}

@media (min-width:600px) and (max-width:944px){
    
    .container1{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .container-sec1{
        min-width: 0;
        flex: 0 0 66%;
        margin-bottom: 0;
    }

    .container-sec2{
        min-width: 0;
        flex: 1 0 30%;
        margin-bottom: 0;
    }
    
    .container2{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .container-sec3{
       min-width: 0;
       flex: 1 0 25%;
       margin-top: 1em;
    }
    
}

@media screen and  (min-width:945px){
     
    .container1{
        display: flex;
        gap: 1em;
    }

    .container-sec1{
        min-width: 0;
        flex: 0 0 66%;
        margin-bottom: 0;
        display: flex;
    }

    .container-sec2{
        min-width: 0;
        flex: 1 0 30%;
        margin-bottom: 0;
    }
    
    .container2{
        display: flex;
        gap: 1em;
    }

    .container-sec3{
       min-width: 0;
       flex: 1 0 25%;
       margin-top: 1em;
    }

    .block-img{
       align-self: flex-end; 
    }
}

/* section2 */

.ctn-color{
    background-color: #9792E4;
    padding-bottom: 0.1rem;
    padding-top: 4rem;
}

.card-sec2 img{
    max-width: 100%;
}

.card-sec2 h4{
    color: white;
    font-size: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-sec2 p{
    font-size: 0.45em;
    line-height: 12px;
    color: white;
}

.card2-sec2{
    background-color: white;
    border-radius: 20px;
    margin: 1rem 0;
}

.card2-sec2 img{
    max-width:100%
}

.card2-sec2 h5{
    text-align: center;
    font-size: .8em;
    padding-top: 0.3em;
}

.card2-sec2 p{
    font-size: 0.55em;
    text-align: center;
    padding: 0.5em 1.5em;
}

.arrow-down{
   text-align: center;
}

.fa-arrow-down{
    margin: 1em 1em;
    padding: 0.5em .6em;
    background-color: #9792E4;
    border-radius: 100%;
}

@media (min-width:600px) and (max-width:944px){
    .card-sec2 p{
        font-size: .78em;
        line-height: 20px;
    }

    .card2-sec2 p{
        font-size: 0.85em;
        text-align: center;
        padding: 0.5em 1.5em;
        line-height: 20px;
    }

    .card-sec2 h4{
        color: white;
        font-size: 50px;
        
    }

    .card2-sec2 h5{
        text-align: center;
        font-size: 1em;
        padding: 0.3em 0;
    }

    .card-sec2{
        display: flex;
        flex-direction: column;
    }

    .card2-sec2{
        display: flex;
        flex-direction: column;
    }

    .card-sec2 img{
        max-width: 100%;
    }

    .card2-sec2 img{
        max-width:100%;
        padding: 0 auto;
    }
}
